* {
  box-sizing: border-box;
}
body {
  background-color: #ffaed7;
  padding: 1em;
  font-family: "Patrick Hand", cursive;
}

a,
a:hover,
a:visited {
  /* text-decoration: none; */
  color: inherit;
}

.fac-logo {
  /* left: 0;
  margin: 6rem 2rem; */
  width: 30%;
  display: flex;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  /* justify-content: center; */
  margin: 0 auto;
}

.fac-logo:hover {
  transition: 1s ease-out;
  background-color: #5e0034;
  border-radius: 100%;
  border: 0.5rem solid#84fab0;
}
.app-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 2rem;
  text-align: center;
  font-family: "Roundabout";
  font-size: 3em;
  font-weight: bold;
  color: #94bbe9;
  -webkit-text-stroke-color: #5e0034;
  -webkit-text-stroke-width: 1px;
}
.cohort-name {
  font-family: "Major Mono Display", monospace;
}

p,
h4 {
  margin: 0.5em 0;
  margin-bottom: 10%;
}
.week-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-article,
.week-section {
  margin: 1em 0;
}

.project-article {
  background-color: #d2afff;
  box-shadow: #af03ca 0px 3px 8px;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
.project-article:hover {
  background-color: #84fab0;
}
.week-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.week-h2 {
  text-align: center;
  font-weight: bold;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
}
.project-description {
  font-style: italic;
  flex-grow: 1;
}
.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 600ms ease-out;
}

.project-image:hover {
  /* transform: scale(1.15); */
  transform: scale(1.2);
}

.project-image-container {
  height: calc(calc(100vw - 2em) * 0.66);
}

.project-image-empty {
  background-color: grey;
}

@media (min-width: 600px) {
  .project-article {
    width: 300px;
    margin: 1em 0.5em;
  }

  .project-image-container {
    max-width: 280px;
    max-height: 195px;
  }

  .fac-logo {
    left: 0;
    margin: 6rem 2rem;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
  }

  .fac-logo:hover {
    color: #5e0034;
    border: 2rem solid#84fab0;
  }

  .fac-logo:visited {
    color: #94bbe9;
  }
}

@media (max-width: 300px) {
  .fac-logo {
    width: 2%;
  }
}
